<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Major:</b>
  <%= @user.major %>
</p>

<p>
  <b>Home country:</b>
  <%= @user.home_country %>
</p>

<p>
  <b>Semesters:</b>
  <%= @user.semesters %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
