<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Semester:</b>
  <%= @course.semester %>
</p>

<p>
  <b>Field:</b>
  <%= @course.field %>
</p>

<p>
  <b>About:</b>
  <%= @course.about %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
